<div class="container">
    <div class='jumbotron' >
        <h1>Welcome to MyJob!</h1>
        <p>You can read more about us here:</p>
        <%= link_to "About us", about_path, class:'btn btn-dark' %>
    </div>
</div>
